<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/stylesheets/applyAssets/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/stylesheets/applyAssets/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="GET" action="/finalMessageAr" id="signup-form" class="signup-form">
                        <div class="ctn">
                       <img class = "logoImage" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/72/National_Bank_of_Egypt_Logo.svg/510px-National_Bank_of_Egypt_Logo.svg.png" alt="">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-inputAr" name="name" id="name" placeholder="الرجاء إدخال الاسم" required/>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-inputAr" name="mobile" id="mobile" placeholder="الرجاء إدخال رقم هاتفك المحمول" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-inputAr" name="email" id="email" placeholder="الرجاء إدخال البريد الإلكتروني الخاص بك" required/>
                        </div>
                          <div class="form-group">
                           <select class="form-inputAr" dir="rtl" required>
                          <option value="">الرجاء اختيار محافظتك</option>
                          <option value="volvo">القاهرة</option>
                          <option value="saab">الجيزة</option>
                           </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="تقديم"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/stylesheets/applyAssets/jquery.min.js" type="95aab008f3a4728581c43355-text/javascript"></script>
    <script src="/stylesheets/applyAssets/main.js" type="95aab008f3a4728581c43355-text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="95aab008f3a4728581c43355-text/javascript"></script>
<script type="95aab008f3a4728581c43355-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="95aab008f3a4728581c43355-|49" defer=""></script></body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
