<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/stylesheets/disclaimerAssets/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/stylesheets/disclaimerAssets/style.css">
</head>
<body>

    <div class="main" dir="rtl">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                 <div class="ctn">
                       <img class = "logoImage" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ef/Commercial_International_Bank_logo.svg/1200px-Commercial_International_Bank_logo.svg.png" alt="">
                        </div>
                <br>
                <p>قبل أن نبدأ ولحمايتك ، أحتاج إلى إعلامك بعدم كتابة أي حساب أو أرقام بطاقات على الشاشة ، أو أي من أرقام PIN الخاصة بك ويرجى ملاحظة أننا سنحتفظ بسجل لهذه المحادثة لأغراض جودة الخدمة. أنا هنا لمساعدتك في استفسارات عامة حول البنك ومنتجاته وخدماته ، لكنني لست هنا ليحل محل المصرفيين الشخصيين وبالتالي لا يمكنني الوصول إلى حساباتك المصرفية. إذا كنت بحاجة إلى شخص لديه حق الوصول إلى الحسابات المصرفية ، فيرجى الاتصال بفريق العمل المحترف لدينا على 19666.</p>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/stylesheets/disclaimerAssets/jquery.min.js" type="95aab008f3a4728581c43355-text/javascript"></script>
    <script src="/stylesheets/disclaimerAssets/main.js" type="95aab008f3a4728581c43355-text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="95aab008f3a4728581c43355-text/javascript"></script>
<script type="95aab008f3a4728581c43355-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="95aab008f3a4728581c43355-|49" defer=""></script></body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>